@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    height: 100vh;
    margin: 0;
    font-family: 'poppins';
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

section.featured {
    display: flex;
}

section.featured .right {
    width: 500px;
    margin-top: 200px;
}

section.featured .left {
    width: 500px;
    margin-top: 200px;
}


/* .featured .left {
    display: flex;
} */

img {
    width: 100%;
}

.nav-container {
    background: #6700EE;
}

.nav-container a {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

header .logo {
    margin-left: 20px;
    color: #00F7FF;
    font-weight: bold;
}


/* 
header nav {
    float: right;
} */

header nav ul {
    display: flex;
}

header nav ul a {
    display: block;
    padding: 0 1em;
}

.social-header ul li {
    margin-right: 20px;
}

.social-header {
    margin-right: 20px;
}

.social-header .hero-design {
    display: none;
}

.hero {
    background: #6e00ff;
    text-align: center;
    padding: 4em;
    display: grid;
}

.meet {
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #ff64cb;
}

.meet span {
    margin-top: 1em;
    margin-right: .5em;
}

.scroll {
    width: 30px;
    margin-top: 2em;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
}

.featured::before {
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #E5D5FA;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #6e00ff;
    letter-spacing: .2em;
    font-size: .85em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc {
    color: #3b3b3b;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills {
    background: #ff64cb;
}

.skills-container ul li {
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.skills-container ul li .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;
}

.skills-container ul li .icon-container .one {
    width: 50px;
}

.skills-container ul li .icon-container .two {
    width: 100px;
}

.skills-container ul li .icon-container .three {
    width: 60px;
}

.skills-container ul li .icon-container .skill-title {
    font-weight: bold;
}

.skills-container ul li .icon-container .featured-desc {
    margin-bottom: 2em;
}

.portfolio {
    background: #f7f7f7;
}

.portfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
}

@media only screen and (min-width:800px) {
    .featured,
    .portfolio {
        text-align: left;
    }
    .featured,
    .portfolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }
    .left,
    .portfolio-left {
        display: grid;
        place-content: center;
    }
    .right {
        margin-left: 2em;
        margin-top: 1em;
    }
    .skills {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }
    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }
    .portfolio {
        padding-top: 7em;
    }
    .portfolio-container img {
        margin-left: 2em;
    }
}

@media only screen and (min-width:1050px) {
    .hero {
        height: 90vh;
    }
    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
    }
    .nav-container header {
        background: #6700ee;
    }
    header {
        padding: 2em 4em 2em 0;
    }
    .social-header {
        padding: 2em 4em 2em 0;
    }
    section {
        padding: 4em;
    }
    .social-header {
        display: block;
    }
    .social-header ul {
        display: flex;
        justify-content: space-between;
        float: right;
    }
    .social-header ul img {
        width: 20px;
    }
    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;
    }
    .hero .content {
        background: #6e00ff;
        padding: 6em 8em 6em 4em;
        text-align: left;
    }
    .hero .content h1 {
        font-size: 3em;
        line-height: 1.2em;
    }
    .meet {
        margin: unset;
    }
    .hero-design {
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }
    .portfolio img {
        float: right;
        max-width: 500px;
    }
}

@media only screen and(min-width:1250px) {
    header {
        padding: 2em 2em 2em 10em;
    }
    .social-header {
        padding: 2em 10em 2em 0;
    }
    section {
        padding: 10em 10em 4em 10em;
    }
    .hero .content {
        padding: 9em 20em 6em 20em;
    }
}

@media only screen and(min-width:1550px) {
    header {
        padding: 2em 2em 2em 20em;
    }
    .social-header {
        padding: 2em 20em 2em 0;
    }
    section {
        padding: 10em 20em 4em 10em;
    }
    .hero .content {
        padding: 9em 20em 6em 20em;
    }
}